html {
  block-size: 100%;
}

.page {
  font-family: Raleway, sans-serif;
  position: relative;
  display: flex;
  justify-content: center;
  block-size: inherit;
  min-inline-size: 800px;
}

.page::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgb(255 255 255 / 0.3);
}

.page__video {
  position: absolute;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: inherit;
}

.page__title {
  z-index: 1;
  padding-block-start: 60px;
  font-weight: 800;
  font-size: 116px;
  line-height: 136.18px;
  letter-spacing: 0.035em;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  block-size: fit-content;
  inline-size: 740px;
}

.page__title::after {
  content: '*';
}

.page__title:hover {
  color: #4c4c4c;
}

.page__title:hover::before {
  content: 'На самом деле нет.\AВажнее — научиться ошибаться.';
  position: absolute;
  border: 2px solid #000;
  border-radius: 25px;
  padding-inline: 44px;
  padding-block: 36px;
  box-shadow: #000 0 15px;
  font-weight: 400;
  font-size: 35px;
  line-height: 35px;
  text-align: left;
  text-transform: none;
  background-color: #fff;
  inset-block-start: 180px;
  inset-inline-end: 20px;
  white-space: pre;
}
